
<div class="column-left">
	<h2><%= @sent_emails.count %></h2>
	emails sent all-time
	<br><br>
	<h2><%= @unsent_emails.count %></h2>
	emails scheduled
</div>
<div class="column-right">
	
	<%= image_tag "faucet/droplet.png", :class => "float-left"%>
	<div class="header-right">
		<h1>Faucet</h1>
		<span class="subhead">brought to you by <%= link_to "Airtime for Email", "http://www.airtimehq.com" %></span>
	</div>

	<div class="emails">
		<div class="email-header">Emails scheduled for today</div>
		<ul>
			<% for email in @emails_today %>
				<li>Description: <%= email.description %></li>
				To: <%= email.email %><br>
				Function: <%= email.function %><br>
				Time: <%= email.time.to_s %><br>
				Sent: <%= email.sent.to_s %><br><br>
			<% end %>
		</ul>
		
		<div class="email-header">Emails sent yesterday</div>
		<ul>
			<% for email in @emails_sent_yesterday %>
				<li>Description: <%= email.description %></li>
				To: <%= email.email %><br>
				Function: <%= email.function %><br>
				Time: <%= email.time.to_s %><br>
				Sent: <%= email.sent.to_s %><br><br>
			<% end %>
		</ul>
		
	</div>
</div>
